:host{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container-fluid{
  padding-top: 63px;
}
.btn-up{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 50%;
  background-color: #0aad0a;
  color: #fff;
}

